body{margin: 0;
	height: 100vh;
background: linear-gradient(-45deg, #415800,#e568dc,#ffb374, #ef5f5f, #d840b6 );
background-size: 400% 400%;
animation: bg 12s ease infinite;}

@keyframes bg{
	0% {
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 100%;
	}
	100%{
		background-position: 0% 50%;
	}
}
 
h1{
	color: red;	
	text-align: center;
	margin-bottom: 10rem;
}
p{
	color: red;
	font-size: xx-large;
}
