body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según sea necesario */
    border-radius: 15px; /* Agrega bordes redondos */
    overflow: hidden; /* Asegura que el contenido no sobresalga si es más grande que el contenedor */
    background: linear-gradient(-45deg, #415800, #e568dc, #ffb374, #ef5f5f, #d840b6);
    display: flex;
    justify-content: center;
    align-items: center;
}

 div p {
    max-width: 100%;
    max-height: 100%; /* Ajusta la altura máxima según sea necesario */
    border-radius: 15px; /* Ajusta según sea necesario para que coincida con el contenedor */
}
@keyframes bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}


p{
	color: red;
	text-align: center;
	font-size: xx-large;
	font-family:'ds-digital', sans-serif;
	text-decoration: none;
   
}
	@font-face {
	font-family: 'ds-digital', sans-serif;
	src: url('https://www.dafont.com/es/ds-digital.font') format('truetype');
	font-style: normal;
	font-weight: normal;
  }
   
    @media (max-width: 768px) {
    div {
        margin: auto; 
    }

    p {
        font-size: 1.2em; 
    }
}
