body {
    margin: 0;
    height: 100vh;
    background: -webkit-linear-gradient(-45deg, #415800, #e568dc, #ffb374, #ef5f5f, #d840b6);
    background: linear-gradient(-45deg, #415800, #e568dc, #ffb374, #ef5f5f, #d840b6);
    background-size: 400% 400%;
    animation: bg 12s ease infinite;
	font-family:  system-ui, Arial, sans-serif; 
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes bg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1{
	color: red;	
	text-align: center;
	margin-bottom: 2rem;
	font-family: 'ds-digital', sans-serif;
}
p{
	color: red;
	text-align: center;
	font-size: xx-large;
	font-family:'ds-digital', sans-serif;
	text-decoration: none;
   
}
	@font-face {
	font-family: 'ds-digital', sans-serif;
	src: url('https://www.dafont.com/es/ds-digital.font') format('truetype');
	font-style: normal;
	font-weight: normal;
  } 
  @media (max-width: 768px) {
    div {
        margin: auto; /* Ajustar el tamaño del texto según sea necesario */
    }

    p {
        font-size: 1.2em; /* Ajustar el tamaño del texto según sea necesario */
    }
}
