body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

main {
    margin: 0;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    background: -webkit-linear-gradient(-45deg, #415800, #e568dc, #ffb374, #ef5f5f, #d840b6);
    background: linear-gradient(-45deg, #415800, #e568dc, #ffb374, #ef5f5f, #d840b6);
    -webkit-animation: bing 12s ease infinite;
    animation: bing 12s ease infinite;
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Asegura que el ancho y alto incluyan el contenido y el borde */
}
 div p {
    font-size: 3rem;
    max-width: 100%;
    max-height: 100%; /* Ajusta la altura máxima según sea necesario */
}
@keyframes bing {
    0% {
        background-position: 0% 25%;
    }
    25% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 50% 75%;
    }
    75% {
        background-position: 75% 100%;
    }
}

@-webkit-keyframes bing {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}


p{
	color: red;
	text-align: center;
	font-size: xx-large;
	font-family:'ds-digital', sans-serif;
	text-decoration: none;
   
}
	@font-face {
	font-family: 'ds-digital', sans-serif;
	src: url('https://www.dafont.com/es/ds-digital.font') format('truetype');
	font-style: normal;
	font-weight: normal;
  }
   
    @media (max-width: 768px) {
    div {
        margin: auto; 
    }

    p {
        font-size: 2rem; 
    }
}
