body{
	margin: 0;
	height: 100vh;
	background: linear-gradient(-45deg, #415800,#e568dc,#ffb374, #ef5f5f, #d840b6 );
	background-size: 400% 400%;
	animation: bg 12s ease infinite;}

@keyframes bg{
	0% {
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 100%;
	}
	100%{
		background-position: 0% 50%;
	}
}
 
h1{
	color: red;	
	text-align: center;
	margin-bottom: 3rem;
	font-family: ds-digital;
}
p{
	color: red;
	text-align: center;
	font-size: xx-large;
	font-family: ds-digital;
	border: 0.3rem solid black;
}
@font-face {
	font-family: 'Open Sans';
	src: url('https://www.dafont.com/es/ds-digital.font') format('truetype');
	font-style: normal;
	font-weight: normal;
  }
